<div class="row">
    <div class="col s4">
        <img class = "responsive-img" src="{{logo.url}}">
    </div>
    <div class="col s8 right-align">
        <h4>{{account.business_profile.name}}</h4>
    </div>
</div>
<div class="divider"></div>
<div id ="center" style="position: fixed; top: 50%; left: 50%; z-index: 100;"></div>