<html>

<head>
  <title>Donate | {{account.business_profile.name}}</title>
  {{> materialize}}
  <link rel="stylesheet" href="/css/stripe.css">
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <div class="container">
    {{> branding}}
    <form action="/donate/{{type}}" method="post" id="payment-form">
      <h4>Billing Info</h4>
      <div class="row">
        <div class="input-field col s6">
          <input id="firstName" name="firstName" type="text" class="validate" autofocus required>
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="lastName" name="lastName" type="text" class="validate" required>
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="address1" name="address1" type="text" class="validate" required>
          <label for="address1">Address</label>
        </div>
        <div class="input-field col s6">
          <input id="address2" name="address2" type="text" class="validate">
          <label for="address2">Apt / Suite / Floor</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="city" name="city" type="text" class="validate" required>
          <label for="city">City</label>
        </div>
        <div class="input-field col s4">
          <input id="state" name="state" type="text" class="validate" required>
          <label for="state">State</label>
        </div>
        <div class="input-field col s4">
          <input id="zip" name="zip" type="text" class="validate" required>
          <label for="zip">Zip</label>
        </div>
      </div>
      <input type="hidden" name="accountId" value="{{account.id}}">
      <input type="hidden" name="amount" id="amount" value="{{amount}}">
      <h4>Payment Details</h4>
      <div class="row">
        <div class="input-field col s12 m8">
          <div id="card-element"></div>
        </div>
        <div class="input-field col s12 m2">
          <button class="btn waves-effect waves-light red" type="button" id="link-button">Link Account
            <i class="material-icons left">account_balance</i>
          </button>
        </div>
        <div class="input-field col s12 m2">
          <button id="applePayButton" class="btn waves-effect waves-light green hide" type="button">Apple Pay
            <i class="material-icons left">phone_iphone</i>
          </button>
          <button id="googlePayButton" class="btn waves-effect waves-light green hide" type="button">Google Pay
            <i class="material-icons left">phone_android</i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 red-text">
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="col s6 m4">
          <h6>
            <b>Total:</b>
            <span id="shownAmount">${{amount}}</span>
          </h6>
          <h6>
            <b>Donated to:</b> {{account.business_profile.name}}
          </h6>
          <span class="{{showCoverFee}}">
                        <label>
                            <input id="coverFees" name="coverFees" type="checkbox" />
                            <span>I'll cover the fees</span>
          </label>
          </span>
        </div>
        <div class="input-field s6 m4 right-align">
          <p>&nbsp;</p>
          <button class="btn waves-effect waves-light blue" type="submit">Donate
                        <i class="material-icons right">check</i>
                    </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}} {{> stripe}} {{> plaid}} {{> coverFees}}
</body>

</html>