<script>
    let el = document.getElementById('coverFees');
    el.onchange = function () {
        if (el.checked) {
            document.getElementById('shownAmount').innerHTML = '${{amountFeesCovered}}';
            document.getElementById('amount').value = '{{amountFeesCovered}}';
            paymentRequest.update({
                total: {
                    label: '{{account.business_profile.name}}',
                    amount: Number((parseFloat('{{amountFeesCovered}}') * 100).toFixed(0)),
                }
            });
        } else {
            document.getElementById('shownAmount').innerHTML = '${{amount}}';
            document.getElementById('amount').value = '{{amount}}';
            paymentRequest.update({
                total: {
                    label: '{{account.business_profile.name}}',
                    amount: Number((parseFloat('{{amount}}') * 100).toFixed(0)),
                }
            });
        }
    };
    if ('{{showCoverFee}}' === 'show') {
        el.checked = true;
        let event = document.createEvent('Event');
        event.initEvent('change', true, true);
        el.dispatchEvent(event);
    }
</script>