<html>

<head>
  <title>Dashboard | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  {{> navigation}}
  <div class="container">
    <h2>Dashboard</h2>
    <h3>Account Balance</h3>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">Pending Settlement</span>
            <h2 class="green-text">${{pending}}</h2>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">Available for Withdrawal</span>
            <h2 class="green-text">${{available}}</h2>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">Withdrawn</span>
            <h2 class="green-text">${{withdrawn}}</h2>
          </div>
        </div>
      </div>
    </div>
    <h3>Donations Received</h3>
    <div class="row">
      {{#summaries}}
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">{{name}} Donation Volume</span>
            <h2 class="green-text">${{sum}}</h2>
            <h6>{{total}} donations</h6>
          </div>
        </div>
      </div>
      {{/summaries}}
    </div>
  </div>
  {{> scripts}}
</body>

</html>