<html>

<head>
    <title>Donations Received| Simple Gives</title>
    {{> materialize}}
</head>

<body>
    {{> navigation}}
    <div class="container">
        <h2>Donations Received</h2>
        <div class="row">
            {{#charges}}
            <a href="/dashboard/donation?chargeId={{id}}" style="color: inherit;">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{formattedAmount}}</span>
                            <p>{{customer.email}}</p>
                            <p>{{formattedCreatedDate}}</p>
                            <p class="{{statusClass}}">
                                {{statusContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {{/charges}}
        </div>
    </div>
    {{> scripts}}
</body>

</html>