<html>

<head>
    <title>Donate | {{account.business_profile.name}}</title>
    {{> materialize}}
</head>

<body>
    <div class="container">
        {{> branding}}
        {{> error}}
        <p></p>
        <span>{{account.metadata.impact}}</span>
        <p></p>
        <form action="/donate/charge" method="get" onsubmit="validate(this)">
            <div class="row center-align">
                <div class="col s12">
                    <ul class="tabs" style="background-color: whitesmoke;">
                        <li class="tab">
                            <a class="active" onclick="updateType('recurring')" href="#">Monthly</a>
                        </li>
                        <li class="tab">
                            <a onclick="updateType('charge')" href="#">One Time</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <a class="btn waves-effect waves-light" onclick="updateAmount(100)">$100</a>
                    <a class="btn waves-effect waves-light" onclick="updateAmount(50)">$50</a>
                    <a class="btn waves-effect waves-light" onclick="updateAmount(25)">$25</a>
                    <a class="btn waves-effect waves-light" onclick="updateAmount(10)">$10</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 push-m4">
                    <input type="text" id="amount" name="amount" class="validate" required pattern="^(\d+\.?\d{0,2}|\.\d{1,2})$">
                    <label for="amount">Donation Amount ($)</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light blue" type="submit">Next
                        <i class="material-icons right">navigate_next</i>
                    </button>
                </div>
            </div>
            <input type="hidden" name="accountId" value="{{account.id}}">
            <input type="hidden" id="type" name="type" value="recurring">
        </form>
    </div>
    {{> scripts}}
    <script>
        var updateAmount = function (amount) {
            document.getElementById('amount').value = amount;
            M.updateTextFields();
        };
        var updateType = function (type) {
            document.getElementById('type').value = type;
        }
    </script>
</body>

</html>