<html>

<head>
  <title>Fundraise | Simple Gives</title>
  {{> materialize}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
</head>

<body>
  {{> navigation}} {{> error}} {{> info}}
  <div class="container">
    <h2>Fundraise</h2>
    <div class="z-depth-2 white" style="padding: 10px;">
      <div class="row">
        <h5>Share your donation page with your donors:</h5>
        <div class="col s12">
          <textarea id="fundraise" class="materialize-textarea">{{baseUrl}}/donate?accountId={{account.id}}</textarea>
          <a class="btn waves-effect waves-light blue" data-clipboard-target="#fundraise" onclick="M.toast({html: 'Link copied!'})">Copy
            <i class="material-icons right">content_paste</i>
          </a>
          <a class="btn waves-effect waves-light blue-grey" href="{{baseUrl}}/donate?accountId={{account.id}}" target="_preview">Preview
            <i class="material-icons right">pageview</i>
          </a>
        </div>
      </div>
      <div class="row">
        <h5>Embed a donation widget into your website:</h5>
        <div class="col s12">
          <textarea id="fundraise-iframe" class="materialize-textarea"><iframe style="width: 600px; height: 800px;" src="{{baseUrl}}/donate?accountId={{account.id}}" frameBorder=0></iframe></textarea>
          <a class="btn waves-effect waves-light blue" data-clipboard-target="#fundraise-iframe" onclick="M.toast({html: 'Link copied!'})">Copy
            <i class="material-icons right">content_paste</i>
          </a>
          <a data-target="exiframe" class="btn waves-effect waves-light blue-grey modal-trigger">Preview
              <i class="material-icons right">pageview</i>
            </a>          
        </div>
      </div>
    </div>
    <div id="exiframe" class="modal modal-fixed-footer">
      <div class="modal-content">
        <iframe style="width: 100%; height: 1000px;" src="{{baseUrl}}/donate?accountId={{account.id}}" frameBorder=0></iframe>
      </div>
      <div class="modal-footer">
        <a href="#!" class="btn waves-effect waves-light blue modal-close">Close
          <i class="material-icons right">close</i>
        </a>
      </div>
    </div>
    <p></p>
    <form id="fundraise-settings" action="/dashboard/fundraise" method="post" onsubmit="validate(this)">
      <div class="z-depth-2 white" style="padding: 10px;">
        <div class="row">
          <h5>How does a donation support your organization's mission?</h5>
          <div class="input-field col s12">
            <textarea id="impact" name="impact" class="materialize-textarea" maxlength="500">{{account.metadata.impact}}</textarea>
          </div>
          <h5>Donors can choose to cover your fees, enter in the fee as a percent:</h5>
          <div class="input-field col s4 m2">
            <input id="coverFee" name="coverFee" type="text" class="validate" value="{{account.metadata.coverFee}}" pattern="^(\d+\.?\d{0,2}|\.\d{1,2})$">
            <label for="coverFee">Cover Fee</label>
          </div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col s3 right-align push-s9">
          <button class="btn waves-effect waves-light blue" type="submit">Save
                        <i class="material-icons right">save</i>
                    </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}}
  <script>
    new ClipboardJS('.btn');
    document.addEventListener('DOMContentLoaded', function() {
      var instances = M.Modal.init(document.querySelectorAll('.modal'));
    });
  </script>
</body>

</html>