<div id="info" class="container center-align green">{{info}}</div>
<script>
    setTimeout(function() {
        document.getElementById('info').classList.add('scale-transition')
        document.getElementById('info').classList.add('scale-out');
    }, 3000);
</script>