<style>
  video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
</style>
<nav>
  <div class="nav-wrapper teal">
    <a href="#" data-target="mobilenav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/dashboard">Log In</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav black-text" id="mobilenav">
  <li>
    <a href="/signup">Signup</a>
  </li>
  <li>
    <a href="/dashboard">Dashboard</a>
  </li>
</ul>
<video autoplay muted loop id="bgvid">
    <source src="https://s3-us-west-2.amazonaws.com/simple.gives/bg.mp4" type="video/mp4">
</video>
{{> scripts}}