<html>

<head>
  <title>Login | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  <div id="center" style="position: fixed; top: 50%; left: 50%; z-index: 100;"></div>
  {{> error}}
  <div class="container center-align">
    <h4>Login</h4>
    <form action="/login" method="post" onsubmit="validate(this)">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <input type="email" id="email" name="email" class="validate" autofocus required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <input type="password" id="password" name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <input type="hidden" name="redirect" value="{{redirect}}">
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light blue" type="submit">Login
            <i class="material-icons right">chevron_right</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}}
</body>

</html>