<html>

<head>
  <title>Simple Fundraising and Simple Giving | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  <div style="position: fixed; top: 50%; left: 0px; z-index: 100; width: 100%;" class="center-align">
    <a href="/signup" class="btn-large blue">Get Started Today!
            <i class="large material-icons right">chevron_right</i>
        </a>
  </div>
  {{> landingNavigation}}
</body>

</html>