<nav>
    <script>
        function logout() {
            document.cookie = "x-access-token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location = '/';
        }
    </script>
    <div class="nav-wrapper teal">
        <a href="#" data-target="mobilenav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/dashboard/fundraise">Fundraise</a>
            </li>
            <li>
                <a href="/dashboard/donations">Donations Received</a>
            </li>
            <li>
                <a href="/dashboard/recurrings">Recurring Donations</a>
            </li>
            <li>
                <a href="/dashboard/settings">Account</a>
            </li>
            <li>
                <a href="javascript:logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobilenav">
    <li>
        <a href="/dashboard">Dashboard</a>
    </li>
    <li>
        <a href="/dashboard/fundraise">Fundraise</a>
    </li>
    <li>
        <a href="/dashboard/donations">Donations Received</a>
    </li>
    <li>
        <a href="/dashboard/recurrings">Recurring Donations</a>
    </li>
    <li>
        <a href="/dashboard/settings">Account</a>
    </li>
    <li>
        <a href="javascript:logout()">Logout</a>
    </li>
</ul>
<div id ="center" style="position: fixed; top: 50%; left: 50%; z-index: 100;"></div>