<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
  var linkHandler = Plaid.create({
    env: 'sandbox',
    clientName: 'Stripe/Plaid Test',
    key: '{{plaidKey}}',
    product: ['auth'],
    selectAccount: true,
    onSuccess: function (public_token, metadata) {
      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/donate/plaid');
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      xhr.onload = function() {
        let form = document.getElementById('payment-form');
        let result = JSON.parse(xhr.responseText);
        if (validate(form)) {
          stripeTokenHandler({
            id: result.stripe_bank_account_token,
          });
        }
      }
      xhr.send(JSON.stringify({
        publicToken: public_token,
        accountId: metadata.account_id,
      }));
    },
    onExit: function(err, metadata) {
      if (err != null) {
        console.error(err);
      }
    },
  });
  document.getElementById('link-button').onclick = function() {
    document.getElementById('payment-form').reportValidity();
    if (document.getElementById('payment-form').checkValidity()) {
      linkHandler.open();
    }
  }
</script>