<html>

<head>
    <title>Recurring Donations | Simple Gives</title>
    {{> materialize}}
</head>

<body>
    {{> navigation}}
    <div class="container">
        <h2>Recurring Donations</h2>
        <div class="row">
            {{#subscriptions}}
            <a href="/dashboard/recurring?subscriptionId={{id}}" style="color: inherit;">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{plan.formattedAmount}}</span>
                            <p>{{customer.email}}</p>
                            <p>{{formattedCreatedDate}}</p>
                            <p class="{{statusClass}}">
                                {{status}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {{/subscriptions}}
        </div>
    </div>
    {{> scripts}}
</body>

</html>