<html>

<head>
    <title>Recurring | Simple Gives</title>
    {{> materialize}}
</head>

<body>
    {{> navigation}}
    <div class="container">
        <h2>Recurring Donation</h2>
        <div class="z-depth-2 white" style="padding: 10px;">
            <h4>Recurring Details</h4>
            <div class="row">
                <div class="col s6 m4">
                    <b>Id:</b> {{subscription.id}}
                </div>
                <div class="col s12">
                    <b>Amount:</b> {{subscription.plan.formattedAmount}}
                </div>
                <div class="col s6 m4">
                    <b>Created Date:</b> {{subscription.formattedCreatedDate}}
                </div>
                <div class="col s6 m4">
                    <b>Start Date:</b> {{subscription.billingCycleAnchorFormatted}}
                </div>
                <div class="col s6 m4">
                    <b>Currency:</b> {{subscription.plan.currency}}
                </div>
                <div class="col s6 m4">
                    <b>Payment Method:</b> {{subscription.paymentMethod}}
                </div>
                <div class="col s6 m4 {{expiration}}">
                    <b>Expiration:</b> {{customer.sources.data.0.exp_month}}/{{customer.sources.data.0.exp_year}}
                </div>
                <div class="col s6 m4">
                    <b>Status:</b> {{subscription.status}}
                </div>
                <div class="col s6 m4">
                    <b>Interval:</b> {{subscription.plan.interval}}
                </div>
                <div class="col s6 m4">
                    <b>Day:</b> {{subscription.dayOfMonth}}
                </div>
            </div>
            <div class="divider"></div>
            <h4>Billing Information</h4>
            <div class="row">
                <div class="col s6 m4">
                    <b>Name:</b> {{customer.shipping.name}}
                </div>
                <div class="col s12">
                    <b>Email:</b> {{customer.email}}
                </div>
                <div class="col s6 m4">
                    <b>Address:</b> {{customer.shipping.address.line1}}
                </div>
                <div class="col s6 m4">
                    <b>Apt / Suite / Floor:</b> {{customer.shipping.address.line2}}
                </div>
                <div class="col s6 m4">
                    <b>City:</b> {{customer.shipping.address.city}}
                </div>
                <div class="col s6 m4">
                    <b>State:</b> {{customer.shipping.address.state}}
                </div>
                <div class="col s6 m4">
                    <b>Zip:</b> {{customer.shipping.address.postal_code}}
                </div>
                <div class="col s6 m4">
                    <b>Country:</b> {{customer.shipping.address.country}}
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col s12 left-align">
                <span class="{{cancel}}">
                    <a class="btn waves-effect waves-light red" href="/dashboard/cancel?subscriptionId={{subscription.id}}" onclick="busy()">Cancel
                        <i class="material-icons right">clear</i>
                    </a>
                </span>
                <a class="btn waves-effect waves-light blue" href="/dashboard/recurrings" onclick="busy()">Go Back
                    <i class="material-icons right">arrow_back</i>
                </a>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>

</html>