<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script>
    M.Sidenav.init(document.querySelector('.sidenav'));
    M.Collapsible.init(document.querySelector('.collapsible'));
    M.Materialbox.init(document.querySelector('.materialboxed'));
    M.Tabs.init(document.querySelector('.tabs'));
    M.FormSelect.init(document.querySelector('select'));

    function busy() {
        new Spinner({
            color: '#000',
            lines: 12
        }).spin(document.getElementById('center'));
        document.getElementsByTagName('body')[0].classList.add('disabled');
    }

    function validate(form) {
        if (form.checkValidity()) {
            busy();
            return true;
        }
        return false;
    }
</script>