<html>

<head>
  <title>Account | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  {{> navigation}} {{> info}}
  <div class="container">
    <h2>Account</h2>
    <form id="settingsForm" action="/dashboard/settings" method="post" encType="multipart/form-data" onsubmit="validate(this)">
      <div class="z-depth-2 white" style="padding: 10px;">
        <h4>Organization Information</h4>
        <div class="row">
          <div class="input-field col s6">
            <input id="organizationName" name="organizationName" type="text" class="validate" value="{{account.company.name}}" autofocus required>
            <label for="organizationName">Organization Name</label>
          </div>
          <div class="input-field col s6">
            <input id="ein" name="ein" type="text" class="validate" required pattern="^\d{2}-\d{7}$" placeholder="XX-XXXXXXX">
            <label for="ein">Tax EIN</label>
          </div>
          <div class="input-field col s12">
            <input id="url" name="url" type="url" class="validate" value="{{account.business_profile.url}}" required>
            <label for="url">Organization Url</label>
          </div>
          <div class="input-field col s6">
            <input id="address1" name="address1" type="text" class="validate" value="{{account.company.address.line1}}" required>
            <label for="address1">Organization Address</label>
          </div>
          <div class="input-field col s6">
            <input id="address2" name="address2" type="text" class="validate" value="{{account.company.address.line2}}">
            <label for="address2">Apt / Suite / Floor</label>
          </div>
          <div class="input-field col s4">
            <input id="city" name="city" type="text" class="validate" value="{{account.company.address.city}}" required>
            <label for="city">City</label>
          </div>
          <div class="input-field col s4">
            <input id="state" name="state" type="text" class="validate" value="{{account.company.address.state}}" required>
            <label for="state">State</label>
          </div>
          <div class="input-field col s4">
            <input id="zip" name="zip" type="text" class="validate" value="{{account.company.address.postal_code}}" required>
            <label for="zip">Zip</label>
          </div>
        </div>
      </div>
      <p></p>
      <div class="z-depth-2 white" style="padding: 10px;">
        <h4>Organization Logo</h4>
        <div class="row">
          <div class="input-field col s12">
            <img class="materialboxed" src="{{logo.url}}">
          </div>
          <div class="input-field col s12">
            <div class="file-field input-field">
              <div class="btn blue">
                <span>Logo</span>
                <input id="logo" name="logo" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" value={{logo.filename}}>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="z-depth-2 white" style="padding: 10px;">
        <h4>Organization Representative</h4>
        <div class="row">
          <div class="input-field col s6">
            <input id="firstName" name="firstName" type="text" class="validate" value="{{account.individual.first_name}}" required>
            <label for="firstName">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="lastName" name="lastName" type="text" class="validate" value="{{account.individual.last_name}}" required>
            <label for="lastName">Last Name</label>
          </div>
          <div class="input-field col s3">
            <input id="ssn" name="ssn" type="text" class="validate" required pattern="^\d{4}$" placeholder="XXXX">
            <label for="ssn">Last 4 SS#</label>
          </div>
          <div class="input-field col s3">
            <input id="mob" name="mob" type="text" class="validate" value="{{account.individual.dob.month}}" required pattern="\d{1,2}" placeholder="XX">
            <label for="mob">Birth Month</label>
          </div>
          <div class="input-field col s3">
            <input id="dyob" name="dyob" type="text" class="validate" value="{{account.individual.dob.day}}" required pattern="\d{1,2}" placeholder="XX">
            <label for="dyob">Birth Day</label>
          </div>
          <div class="input-field col s3">
            <input id="yob" name="yob" type="text" class="validate" value="{{account.individual.dob.year}}" required pattern="\d{4}" placeholder="XXXX">
            <label for="yob">Birth Year</label>
          </div>
        </div>
      </div>
      <p></p>
      <div class="z-depth-2 white" style="padding: 10px;">
        <h4>Disbursement Account</h4>
        <div class="row">
          <div class="input-field col s12">
            <input id="businessAccountName" name="businessAccountName" type="text" class="validate" required>
            <label for="businessAccountName">Name on Account</label>
          </div>
          <div class="input-field col s6">
            <input id="routingNumber" name="routingNumber" type="text" class="validate" required pattern="^\d{9}$" placeholder="XXXXXXXXX">
            <label for="routingNumber">Routing Number</label>
          </div>
          <div class="input-field col s6">
            <input id="accountNumber" name="accountNumber" type="text" class="validate" required pattern="^\d{12}$" placeholder="XXXXXXXXXXXX">
            <label for="accountNumber">Account Number</label>
          </div>
        </div>
      </div>
      <p></p>
      <input name="legalToken" id="legalToken" type="hidden">
      <input name="bankToken" id="bankToken" type="hidden">
      <div class="row">
        <div class="col s9">
          <span>
                        <label>
                            <input id="tos" name="tos" type="checkbox" required />
                            <span>By registering your account, you agree to the
                                <a href="https://stripe.com/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a>.</span>
          </label>
          </span>
        </div>
        <div class="col s3 right-align">
          <button class="btn waves-effect waves-light blue" type="submit">Save
                        <i class="material-icons right">save</i>
                    </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}}
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe('{{key}}');
    document.getElementById('settingsForm').addEventListener('submit', handleForm);
    async function handleForm(event) {
      event.preventDefault();
      const legalResult = await stripe.createToken('account', {
        business_type: 'company',
        company: {
          name: document.getElementById('organizationName').value,
          tax_id: document.getElementById('ein').value ? document.getElementById('ein').value : undefined,
          phone: '8053051483',
          address: {
            line1: document.getElementById('address1').value,
            line2: document.getElementById('address2').value,
            city: document.getElementById('city').value,
            state: document.getElementById('state').value,
            postal_code: document.getElementById('zip').value,
            country: 'US',
          },
        },
        tos_shown_and_accepted: document.getElementById('tos').checked ? true : undefined,
      });
      const bankAccountProvided = document.getElementById('businessAccountName').value &&
        document.getElementById('routingNumber').value && document.getElementById('accountNumber').value;
      const bankResult = bankAccountProvided && await stripe.createToken('bank_account', {
        country: 'US',
        currency: 'usd',
        account_holder_name: document.getElementById('businessAccountName').value,
        account_holder_type: 'individual',
        routing_number: document.getElementById('routingNumber').value,
        account_number: document.getElementById('accountNumber').value,
      });
      if (legalResult.token) {
        document.getElementById('legalToken').value = legalResult.token.id;
        document.getElementById('bankToken').value = bankResult ? bankResult.token.id : '';
        document.getElementById('settingsForm').submit();
      }
    }
  </script>
</body>

</html>