<html>

<head>
  <title>Signup | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  <div id="center" style="position: fixed; top: 50%; left: 50%; z-index: 100;"></div>
  {{> error}}
  <div class="container center-align">
    <h4>Let's raise funds!</h4>
    <form action="/signup" method="post" onsubmit="validate(this)">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <input type="text" id="organizationName" name="organizationName" class="validate" autofocus required>
          <label for="organizationName">Organization Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <input type="email" id="email" name="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light blue" type="submit">Submit
            <i class="material-icons right">chevron_right</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}}
</body>

</html>