<html>

<head>
    <title>Signup | Simple Gives</title>
    {{> materialize}}
</head>

<body>
    <div class="container center-align">
        <div class="row">
            <span class="col s12">
                <h4>Check your email!</h4>
            </span>
        </div>
        <div class="row">
            <span class="col s12">
                <h5>We have provided a link to activate your account.</h5>
            </span>
        </div>
        <div class="row">
            <span class="col s12">
                <img src="/images/email.png" width="25%">
            </span>
        </div>
    </div>
    {{> scripts}}
</body>

</html>