<script>
  var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
  var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
  var stripe = Stripe('{{stripeKey}}');
  var elements = stripe.elements();
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '18px',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };
  var paymentRequest = stripe.paymentRequest({
    country: 'US',
    currency: 'usd',
    total: {
      label: '{{account.business_profile.name}}',
      amount: Number((parseFloat('{{amountFeesCovered}}') * 100).toFixed(0)),
    },
  });
  var card = elements.create('card', {
    style: style
  });

  function getChargeData(token) {
    return {
      name: document.getElementById('firstName').value + ' ' +
        document.getElementById('lastName').value,
      address_line1: document.getElementById('address1').value,
      address_line2: document.getElementById('address2').value,
      address_city: document.getElementById('city').value,
      address_state: document.getElementById('state').value,
      address_zip: document.getElementById('zip').value,
      address_country: 'us',
      currency: 'usd',
    }
  }
  window.onload = function() {
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    paymentRequest.canMakePayment().then(function(result) {
      if (result) {
        let btn = document.getElementById(isChrome ? 'googlePayButton' : 'applePayButton');
        btn.classList.remove('hide');
        btn.addEventListener('click', function() {
          document.getElementById('payment-form').reportValidity();
          if (document.getElementById('payment-form').checkValidity()) {
            paymentRequest.show();
          }
        });
      }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      stripe.createToken(card, getChargeData()).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          if (validate(form)) {
            stripeTokenHandler(result.token);
          }
        }
      });
    });
    paymentRequest.on('token', function(ev) {
      ev.complete('success');
      stripeTokenHandler(ev.token);
    });
  };
  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    validate(form);
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    form.submit();
  }
</script>