<html>

<head>
    <title>Thank You | {{account.business_profile.name}}</title>
    {{> materialize}}
</head>

<body>
    <div class="container center-align">
        <div class="section">
            <div class="row">
                <span class="col s12">
                    <h4>Thank you for your donation to</h4>
                </span>
            </div>
            <div class="row">
                <span class="col s12">
                    <h5>{{account.business_profile.name}}</h5>
                </span>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <span class="col s12"> A receipt for your donation has been sent to</span>
            </div>
            <div class="row">
                <span class="col s12">
                    <b>{{customer.email}}</b>
                </span>
            </div>
        </div>
        <div class="section grey lighten-2 z-depth-2 left-align">
            <div class="row">
                <span class="col s12">
                    <h5>Donation Information</h5>
                </span>
                <div class="divider black col s12"></div>
            </div>
            <div class="row">
                <span class="col s4">Total Charge:</span>
                <span class="col s8">
                    <b>${{amount}}</b>
                </span>
            </div>
            <div class="row">
                <span class="col s4">Receipt Code:</span>
                <span class="col s8">
                    <b>{{id}}</b>
                </span>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <span class="col s12">Need help? Have questions? Contact:
                    <b>{{account.email}}</b>
                </span>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>

</html>