<html>

<head>
  <title>Signup | Simple Gives</title>
  {{> materialize}}
</head>

<body>
  <div id="center" style="position: fixed; top: 50%; left: 50%; z-index: 100;"></div>
  {{> error}}
  <div class="container center-align">
    <h5>{{email}}</h5>
    <span>Please setup a password!</span>
    <form action="/signup/verify" method="post" onsubmit="validate(this)">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <input type="password" id="password" name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <input type="hidden" name="email" value="{{email}}">
      <input type="hidden" name="verificationCode" value="{{verificationCode}}">
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">chevron_right</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  {{> scripts}}
</body>

</html>