<html>

<head>
    <title>Signup | Simple Gives</title>
    {{> materialize}}
</head>

<body>
    <div class="container center-align">
        <div class="section">
            <div class="row">
                <span class="col s12">
                    <h4>You are all setup!</h4>
                </span>
            </div>
            <div class="row">
                <span class="col s12">
                    <h5>Go visit the dashboard now.</h5>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center-align">
                <span class="btn waves-effect waves-light" onclick="javascript:window.location = '/dashboard'">Goto The Dashboard
                    <i class="material-icons right">chevron_right</i>
                </span>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>

</html>