<html>

<table style="width: 100%; border: 0px; padding: 0px; border-spacing: 0px; border-collapse: collapse;">
    <tr>
        <td align="center">
            <h1>Thank you for your donation to</h4>
        </td>
    </tr>
    <tr>
        <td align="center">
            <h2>{{account.business_profile.name}}</h5>
        </td>
    </tr>
</table>
<table style="width: 100%; border: 1px solid black; padding: 0px; border-spacing: 0px; border-collapse: collapse; background-color: lightgray;">
    <tr style="border-bottom: 1px solid black">
        <td>
            <h2 style="margin: 10px 0px 0px 5px;">Donation Information</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td style="padding: 15px;">
            Total Charge:</td>
        <td style="padding: 15px;">
            <b>${{amount}}</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 0px 0px 15px 15px;">
            Receipt Code:
        </td>
        <td style="padding: 0px 0px 15px 15px;">
            <b>{{id}}</b>
        </td>
    </tr>
</table>
<p></p>
<table style="width: 100%; border: 0px; padding: 0px; border-spacing: 0px; border-collapse: collapse;">
    <tr>
        <td align="center">
            Need help? Have questions? Contact:
            <b>{{account.email}}</b>
        </td>
    </tr>
</table>

</html>