<html>
<p>
    Please click the following link to verify your account and setup a password:
</p>
<p>
    {{baseUrl}}/signup/verify?{{qs}}
</p>
<p>
    Need help? Have questions? Contact:
    <b>{{helpEmail}}</b>
</p>
</html>